ssim-model/src/main/resources/searchEncounter_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="searchType" type="searchTypeType"/>
  <xs:complexType name="transcriptType">
    <xs:sequence>
      <xs:element type="phraseType" name="phrase" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="speakerType" name="speaker"/>
      <!--<xs:element type="annotationType" name="annotation" maxOccurs="unbounded" minOccurs="0"/>-->
      <xs:element type="turn-timeType" name="turn-time"/>
      <xs:element type="wordsType" name="words"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turn-timeType">
    <xs:sequence>
      <xs:element type="xs:string" name="turn-time-match"/>
      <xs:element type="xs:string" name="turn-time"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="speakerType">
    <xs:sequence>
      <xs:element type="xs:string" name="speaker-match"/>
      <xs:element type="xs:string" name="speaker"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phraseType">
    <xs:sequence>
      <xs:element name="phrase-match">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="includes"/>
            <xs:enumeration value="notincludes"/>
            <xs:enumeration value="matches"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phrase">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="aaaa"/>
            <xs:enumeration value="bbbb"/>
            <xs:enumeration value="cccc"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="andor" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--<xs:complexType name="annotationType">-->
    <!--<xs:sequence>-->
      <!--<xs:element name="annotation-match">-->
        <!--<xs:simpleType>-->
          <!--<xs:restriction base="xs:string">-->
            <!--<xs:enumeration value="includes"/>-->
            <!--<xs:enumeration value="notincludes"/>-->
            <!--<xs:enumeration value="matches"/>-->
          <!--</xs:restriction>-->
        <!--</xs:simpleType>-->
      <!--</xs:element>-->
      <!--<xs:element name="annotation">-->
        <!--<xs:simpleType>-->
          <!--<xs:restriction base="xs:string">-->
            <!--<xs:enumeration value="dddd"/>-->
            <!--<xs:enumeration value="eee"/>-->
            <!--<xs:enumeration value="ffff"/>-->
          <!--</xs:restriction>-->
        <!--</xs:simpleType>-->
      <!--</xs:element>-->
      <!--<xs:element type="xs:string" name="andor" minOccurs="0"/>-->
    <!--</xs:sequence>-->
  <!--</xs:complexType>-->
  <xs:complexType name="searchTypeType">
    <xs:sequence>
      <xs:element type="transcriptType" name="transcript"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wordsType">
    <xs:sequence>
      <xs:element type="xs:string" name="words-match"/>
      <xs:element type="xs:string" name="words"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>